# Package

In [8]:
import pandas as pd

# Importer les données stationnarisées

In [9]:
df = pd.read_csv("df.csv", index_col="date")
df_stationary = pd.read_csv("df_stationary.csv", index_col="date")

In [10]:
df_stationary = df_stationary.rename(columns = {"S&P 500" : "S&P500"})
df_stationary

,UNRATE,TB3MS,RPI,INDPRO,DPCERA3M086SBEA,S&P500,BUSLOANS,CPIAUCSL,OILPRICEx,M2SL,USREC
date,,,,,,,,,,,
1960-01-31,-0.8,0.30,0.020977,0.091980,0.001204,0.017909,0.011578,-0.006156,0.000000,0.001323,0
1960-02-29,-1.1,-0.19,0.014565,0.076964,0.006009,-0.025663,0.011905,-0.003767,0.000000,0.002007,0
1960-03-31,-0.2,-1.18,0.006250,0.007961,0.021240,-0.070857,-0.008356,-0.005455,0.000000,0.001324,0
1960-04-30,0.0,-1.12,0.006489,-0.025915,0.033752,-0.040442,-0.009098,0.005090,0.000000,0.000634,1
1960-05-31,0.0,-0.67,0.007747,-0.018121,0.009040,-0.010090,-0.000359,0.003383,0.000000,0.003977,1
...,...,...,...,...,...,...,...,...,...,...,...
2025-04-30,0.3,0.00,0.015108,0.007185,0.007959,-0.107606,0.046085,-0.007236,-0.226416,0.004839,0
2025-05-31,0.2,0.03,0.008190,-0.002058,0.007758,-0.038448,0.044487,-0.007941,-0.162581,0.006395,0
2025-06-30,0.0,0.03,0.001403,0.006457,0.002578,0.059087,0.035681,-0.000435,0.026151,0.006741,0
2025-07-31,0.0,0.04,-0.003535,0.001899,0.005014,0.159259,-0.000974,0.001775,0.249194,0.000564,0
2025-08-31,0.1,-0.13,0.003140,0.002537,0.009904,0.097957,-0.000762,0.006133,0.182603,0.000280,0

In [18]:
df_stationary.to_csv("df_stationary.csv")

In [11]:
df.head()

,UNRATE,TB3MS,RPI,INDPRO,DPCERA3M086SBEA,S&P500,BUSLOANS,CPIAUCSL,OILPRICEx,M2SL
date,,,,,,,,,,
1959-01-01,6.0,2.82,2583.560,21.9616,15.188,55.62,35.2130,29.01,3.00,286.6
1959-02-01,5.9,2.70,2593.596,22.3917,15.346,54.77,35.2201,29.00,3.00,287.7
1959-03-01,5.6,2.80,2610.396,22.7142,15.491,56.16,35.1304,28.97,2.97,289.2
1959-04-01,5.2,2.95,2627.446,23.1981,15.435,57.10,35.5581,28.98,2.97,290.1
1959-05-01,5.1,2.84,2642.720,23.5476,15.622,57.96,36.3064,29.04,2.97,292.2

In [12]:
df.index = pd.to_datetime(df.index)
df_stationary.index = pd.to_datetime(df_stationary.index)

# Split les données

In [13]:
end_time_train = "1989-12" # 

df_train = df[df.index <= end_time_train]
df_test = df[df.index > end_time_train]

df_stationary_train = df_stationary[df_stationary.index <= end_time_train]
df_stationary_test = df_stationary[df_stationary.index > end_time_train]

In [14]:
print(df_stationary_train.index[-1])
print(df_stationary_test.index[0])

1989-11-30 00:00:00
1989-12-31 00:00:00

In [15]:
print(df_train.index[-1])
print(df_test.index[0])

1989-12-01 00:00:00
1990-01-01 00:00:00

# Exporter les splits

In [16]:
df_train.to_csv("df_train.csv")
df_test.to_csv("df_test.csv")

In [17]:
df_stationary_train.to_csv("df_stationary_train.csv")
df_stationary_test.to_csv("df_stationary_test.csv")